<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sage42.androidappaddicts.test"
    android:versionCode="2"
    android:versionName="2.0.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="8" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.sage42.androidappaddicts" />

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>